<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.amf.org/amf"
			class = "de.luh.se.mbse.statemachine.textualeditor.amfRules.AmfRulesPackage"
			genModel = "model/generated/AMF.genmodel" />
	</extension>
</plugin>
